#product-overview {
  /* 아래 옵션들을 한번에 설정 가능 image, background, position / size repeat background-origin 순 필요한것만 적어도됨*/
  /* background: url("images/freedom.jpg") #ff1b68 left 10% bottom 20% / cover no-repeat border-box; */

  /* 이미지 겉에 색감 씌울 수 있다 */
  /* background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("images/freedom.jpg") left 10% bottom 70% / cover no-repeat border-box,
    #ff1b68; */
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("images/freedom.jpg") center / cover no-repeat border-box, #ff1b68;

  /* background-image: url("images/freedom.jpg");
  background-size: cover;
  background-position: left 10% top 20%;
  background-repeat: no-repeat; */

  /* image를 사용했을때 영역 설정가능 
    border-box; ▶ 박스 테두리까지 포함하여 적용됨
    padding-box; ▶ 테두리를 제외한 박스의 안쪽 영역부터 적용됨
    content-box; ▶ 콘텐츠 부분에만 적용됨 (텍스트의 경우라면 글씨에만 적용)
    */
  /* background-origin: border-box; */

  /* image를 사용안했을때 영역 설정가능 origin과 옵션 동일*/
  /* background-clip: padding-box; */

  /* 배경 이미지의 스크롤 여부
    scroll : 선택한 요소와 같이 움직입니다. 내용을 스크롤하면 배경 이미지는 스크롤되지 않습니다.
    fixed : 움직이지 않습니다.
    local : 선택한 요소와 같이 움직입니다. 내용을 스크롤하면 배경 이미지도 스크롤됩니다.
    initial : 기본값으로 설정합니다.
    inherit : 부모 요소의 속성값을 상속받습니다.
  */
  /* background-attachment: scroll; */

  /* 이미지 그라데이션 linear-gradient (이미지는 여러개 넣어도 허용, 색상 뒤 크기를 지정하면 그만큼 허용됨)
  각 조정: linear-gradient(to left top, red 70%, blue, green, rgba(0, 0, 0, 0.5));
  각 미세 조정: linear-gradient(360deg, red, blue, transparent);
  */
  /* background-image: linear-gradient(180deg, red 70%, blue, rgba(0, 0, 0, 0.5)); */

  /* 이미지 그라데이션 radial-gradient (원) 
  circle 로 중앙 위치 변경 circle at [20% 50% or top], 크기변경 circle 50px at ...
  ex) radial-gradient(circle 50px at top, red, blue, green)
      radial-gradient(circle at 20% 50%, red, blue, green)
  ellipse 로 모양 변경 가능 위예제에서 circle -> ellipse , at 이전값을 변경 (위치 지정인데 따로 안적음 쓸대없어보임..)
  */
  /* background-image: radial-gradient(circle 20px at 20% 50%, red, blue, green); */
  /* background-image: radial-gradient( ellipse farthest-corner at 20% 50%, red, blue 70%, green ); */
  width: 100vw;
  height: 33vh;
  /* border: 5px dashed red; */
  position: relative;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
  font-size: 1.6rem;
}

/* @media: 반응형웹 사이즈 조절 min-width <=, max-width >=
 * @media (min-width: 40rem) and (min-height: 60rem) {}: 여러 조건을 동시에 할경우 
 * orientation: landscape 가로방향일때, portrait 세로방향일때
 * ,는 or효과 @media (min-width: 40rem), (orientation: landscape) {}: 40rem 이상 또는 디바이스가 가로모드 둘중 하나면 적용
 */
@media (min-width: 40rem) and (min-height: 40rem) {
  #product-overview {
    height: 40vh;
    background-position: 50% 25%;
  }

  #product-overview h1 {
    font-size: 3rem;
  }
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  /* rem: root 사이즈기준, em 을 사용안하는이유는 브라우저 설정에서 글꼴크기를 변경시 영향을 받기 때문(예: em지정 후 크롬에서 command + , 을 누르고 글꼴크기 변경시 변경됨) */
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;
}

.plan--highlighted {
  background: #19b84c;
  color: white;
}

.plan__annotation {
  background: white;
  color: #19b84c;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: 0.5rem 0;
}

@media (min-width: 40rem) {
  .plan__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .plan {
    width: 30%;
    min-width: 13rem;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28rem;
  }

  .plan--highlighted {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    height: 30rem;
    z-index: 50;
  }
}

#key-features {
  background: #ff1b68;
  margin-top: 5rem;
  padding: 1rem;
}

#key-features .section-title {
  color: white;
  margin: 2rem;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature__image {
  background: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
  padding: 1.5rem;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}

@media (min-width: 40rem) {
  .key-feature {
    /* display 속성
     * inline: 내용만큼의 공간할당됨(여러개사용시 붙음, text로 인식되는거같음)
     * block: 내용만큼의 공간할당됨(여러개사용시 줄바꿈됨)
     * inline-block: float 속성을 적용한것처럼 옆으로 늘어져 나옴
     */
    width: 30%;
    max-width: 25rem;
  }

  .key-feature__list {
    display: flex;
    justify-content: center;
  }
}

/* h1 {
    font-family: sans-serif;
} */

.modal {
  position: fixed;
  /* opacity: 투명도 */
  opacity: 0;
  transform: translateY(-3rem);
  /* 1개일경우 하나로, 2개이상일경우 ','로 구분 */
  transition: opacity 0.2s ease-out 1s, transform 500ms ease-out 1s;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}
