/* 파일 저장으로 가져오기 (기본 ttf가 범용성이 좋음, woff 확장자는 압축한건데 woff는 ie에서 부분지원되고 woff2는 ie에서 지원을안함 그래서 ttf사용중(용량이커질수있는 단점이있다)
  필요한 글꼴은 모두 넣어야하며, 폰트 굵기가 동일할경우 아래 작성한 한개만인식한다. 
  url 실제 파일명은 대문자지만, 익스플로러 문제가 발생할수 있어 소문자로 변경한다. */
@font-face {
  font-family: "AnonymousPro";
  /* format("truetype"): 사용할수있는 언어 */
  src: url(./anonymousPro-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "AnonymousPro";
  src: url(./anonymousPro-Regular-Bold.ttf) format("truetype");
  font-weight: 700;
}

main {
  padding-top: 2rem;
}

.background {
  /* center/cover: 정렬/화면에 맞게 확대 */
  background: url("../images/plans-background.jpg") center/cover;
  /* filter: 색입히기 */
  filter: grayscale(40%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  /* z-index: 0 === auto === 기본값, 숫자가 높을수록 높은 우선순위, -1은 백그라운드로 보냄 */
  z-index: -1;
}

.package {
  width: 80%;
  margin: 1rem 0;
  border: 4px solid #0e4f1f;
  border-left: none;
  position: relative;
  overflow: hidden;
}

.package:hover,
.package:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* color !important 하면 #free에서 새로추가한
  #free:hover, :active 옵션인 board-left 색 속성에도 적용가능
  하지만 !important 는 다른속성을 무시하기 때문에 사용안하는걸 추천한다.
  */
  border-color: #ff5454;
  /* border-color: #ff5454 !important; */
}

.package a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 2rem;
}

.package__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 0.8rem;
  color: white;
  background: #ff5454;
  padding: 0.5rem;
  /* transform 회전 Z:각도(deg 확장자로 각도 조절), X,Y: 돌아간 기준으로 이동
    rotateZ(45deg) translateX(3.5rem) translateY(-1rem);
    기본으로 rotate는 회전, translate 는 한줄로 입력가능 */
  transform: rotate(45deg) translate(3.5rem, -1rem);
  /* 돌리는 축 [left top] [1rem 1rem] [50% 50%] 등 지정가능*/
  transform-origin: center;
  width: 12rem;
  text-align: center;
}

.package__subtitle {
  color: #979797;
}

.package__info {
  padding: 1rem;
  border: 1px solid #0e4f1f;
  /* font-size: 1.2rem; */
  color: #0e4f1f;
  background: white;
  /* shared 에 추가한 font (@import) 예시  */
  /* font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic; */
  /* font-family: "AnonymousPro", sans-serif; */
  /* font-weight: 700; */

  /* 시스템폰트에 접근 */
  /* font: menu; */

  /* 위의 속성을 한줄로 가능 */
  /* font-style font-variant font-weight font-size/line-height font-family */
  /* font: italic small-caps 700 1.2rem/2 "AnonymousPro", sans-serif; */
  /* font: 700 1.2rem "AnonymousPro", sans-serif; */

  /* 문단 줄(overline, underline, line-through / dotted, wavy / red, blue */
  /* text-decoration: underline wavy red; */

  /* 그림자효과 x, y 축, blur, color 순서 */
  /* text-shadow: 0 0 10px red; */
}

.clearfix {
  clear: both;
}

#plus {
  background: rgba(213, 255, 220, 0.95);
}

#free {
  background: rgba(234, 252, 237, 0.95);
  float: right;
  border-right: none;
  border-left: 4px solid #0e4f1f;
  text-align: right;
}

#free:hover,
#free:active {
  border-left-color: #ff5454;
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #ff5454; */
}

#premium {
  background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
  color: white;
}

#premium .package__subtitle {
  color: #bbb;
}

@media (min-width: 40rem) {
  main {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1500px) {
  .package {
    border-left: 4px solid #0e4f1f;
  }

  #free {
    border-right: 4px solid #0e4f1f;
  }

  #free:hover,
  #free:active {
    border-right-color: #ff5454;
  }
}
